body {
    margin: 0;
}
header {
    margin: 0;
    padding: 1rem 2rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #292358;
}
.logo {
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
    padding: 0 1rem 0 0;
}
.logo h2 {
    margin: 0;
    color: rgb(54, 7, 75);
}
.logo a {
    text-decoration: none;
    color: rgb(245, 229, 252);
}
.logo a:hover {
    color: rgb(204, 176, 224);
}
.search-box{
    display: flex;
    gap: 0;
}
.search-box #searching {
    width: 20rem;
    padding: 0.7rem;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10rem 0 0 10rem;
    outline: none;
    background-image: url(/map-demo/images/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
}
.search-box #searchButton{
    background-color: skyblue;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 0 10rem 10rem 0;
    cursor: pointer;
}
.search-box #searchButton:hover{
    background-color: DeepSkyBlue;
    color: FloralWhite;
    transition: 0.2s;
}
.search-box #searchButton:active{
    transform: scale(1.1);
    transition: 0.2s;
}
#searching::placeholder {
    padding-left: 2rem;
}
footer {
    height: 3rem;
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    background-color: #292358;
}
footer p {
    padding-top: 1rem;
    margin: 0;
}
iframe {
    margin: 0 auto;
    width: calc(100vw - 1.3rem);
    height: 100vh;
    outline: none;
}
.people {
    margin: 0 auto;
    text-align: center;
    display: none;
}
.chart {
    font-family: 'Open Sans';
}
.chart p {
    margin-left: 10rem;
    text-align: left;
    color: rgb(27, 27, 27);
    font-size: 2rem;
    text-transform: uppercase;
}
.chart img {
    width: 1000px;
}
.map-tool {
    top: 100px;
    right: 0;
    position: absolute;
    z-index: 0;
}
.map-tool ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.map-tool li {
    margin: 0 1rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color ease-out 0.2s 0.02s;
}
.map-tool li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.map-tool img {
    width: 2rem;
    height: 1.8rem;
}
#climate {
    display: none;
}
#climate img {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#wind {
    display: none;
    text-align: center;
}
#wind img{
    width: 100%;
    height: 100%;
}
