*{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-image: url(https://i.pinimg.com/originals/88/6a/66/886a665556086868270d117fe35d17bf.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    margin: 0;
    padding: 1rem 2rem;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
    padding: 0 1rem 0 0;
}
.logo h2 {
    margin: 0;
    color: rgb(245, 229, 252);
}
.logo a {
    text-decoration: none;
    color: rgb(245, 229, 252);
}
.logo a:hover {
    color: rgb(204, 176, 224);
}
.search-box{
    display: flex;
    gap: 0;
}
.search-box #searching {
    width: 20rem;
    padding: 0.7rem;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10rem 0 0 10rem;
    outline: none;
    background-image: url(/map-demo/images/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
}
.search-box #searchButton{
    background-color: skyblue;
    color: white;
    padding: 0.7rem;
    border: none;
    border-radius: 0 10rem 10rem 0;
    cursor: pointer;
}
.search-box #searchButton:hover{
    background-color: DeepSkyBlue;
    color: FloralWhite;
    transition: 0.2s;
}
.search-box #searchButton:active{
    transform: scale(1.1);
    transition: 0.2s;
}
#searching::placeholder {
    padding-left: 2rem;
}
.discover {
    text-align: center;
    margin: 0;
    margin-top: 24rem;
}
.discover a{
    text-decoration: none;
    font-family: 'Montserrat Alternates';
    font-size: 1.5rem;
    padding: 1rem;
    color: rgb(27, 27, 27);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    transition: background-color ease-out 0.4s 0.2s;
}
.discover a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.dashboard {
    margin-top: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.objective {
    width: 25%;
    margin: 2rem;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform ease-out 0.3s 0.02s;
}
.objective:hover {
    transform: scale(1.05);
}
.objective img {
    width: 5rem;
    height: 5rem;
    padding-left: 1.5rem;
}
.objective p {
    padding: 1.5rem;
    text-align: center;
}
#tag {
    margin: 2rem auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5rem;
}
.tag-space {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 3rem;
    transition: transform ease-out 0.3s 0.02s;
}
.tag-caption {
    padding: 1.5rem 0.5rem;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.tag-caption a{
    text-decoration: none;
    color: black;
}
.tag-space:hover{
    transform: scale(1.05);
}
.tag-space img{
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
footer {
    height: 3rem;
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    background-color: #292358;
}
footer p {
    padding-top: 1rem;
    margin: 0;
}