body {
    margin: 0;
}
header {
    margin: 0;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
    padding: 0 1rem 0 0;
}
.logo h2 {
    margin: 0;
    color: rgb(119, 54, 150);
}
.search-box input {
    width: 20rem;
    padding: 0.7rem;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    outline: none;
    background-image: url(/map-demo/images/search.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
}
#searching::placeholder {
    padding-left: 2rem;
}
.header-tools ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-tools li {
    padding: 0 1rem;
}
.header-tools a {
    text-decoration: none;
    color: rgb(27, 27, 27);
}
.header-tools a:hover {
    color: rgb(92, 30, 150);
}
.header-tools img {
    width: 3rem;
    height: 3rem;
}
#map {
    height: 100%;
    pointer-events: none;
}
  
